.bodyhome {
  background-color: #F7F7F7;
  width: 100%;

  display: flex;
  flex-direction: column;

  .headerhome {
    background-color: #27A844;

    align-items: center;
    display: flex;
    flex-direction: row;

    &__image {
      height: 3rem;
      width: 3rem;
      padding: 0.5rem 0.5rem;
    }

    &__title {
      color: #F7F7F7;
      font: 1rem 'Arial';
      height: 2rem;
      
      align-items: center;
      display: flex;
    }
  }

  .homemain {
    display: flex;
    flex-direction: row;

    .sidemenu {
      width: 15%;

      &__title {
        background-color: #008A8A;
        border-right: 1px solid #F7F7F7;
        color: #F7F7F7;
        font: 1rem 'Arial';
        height: 2rem;
        padding: 0.5rem 3rem;
        text-align: center;
        
        align-items: center;
        display: flex;
      }

      &__flex {
        background-color: #008A8A;
        flex-direction: column;
        height: calc(100vh - 7rem);

        display: flex;
        justify-content: space-between;

        .sidemenu__logout {
          background-color: #D63939;
          border: 1px solid transparent;
          padding: 1rem 0;
          text-align: center;
          text-decoration: none;

          &:hover {
            border: 1px solid #F7F7F7;
            cursor: pointer;
          }

          &--button {
            color: #F7F7F7;
            text-decoration: none;
          }
        }
      }

      &__list {
        display: flex;
        flex-direction: column;

        .sidemenu__element {
          background-color: #F7F7F7;
          border: 1px solid transparent;
          border-bottom: 1px solid #008A8A;
          color: #000000;
          min-height: 3rem;
          padding: 0 0.5rem;
          text-decoration: none;
          text-align: center;
          
          align-items: center;
          display: flex;

          &:hover {
            background-color: #C4C4C4;
            border-right: 1px solid #008A8A;
            color: #008A8A;
            cursor: pointer;
            font-weight: bold;
          }
        }
      }
    }

    .homepage {
      width: 85%;

      display: flex;
      flex-direction: column;

      .homepage__info {
        background-color: #008A8A;
        color: #F7F7F7;
        font: 1rem 'Arial';
        height: 2rem;
        padding: 0.5rem 3rem;

        align-items: center;
        display: flex;
        justify-content: space-evenly;
      }

      .homepage__welcome {
        color: #000000;
      }
    }

    .edit-profile__link {
      align-self: center;
    }

    .edit-profile__button {
      background-color: #27A844;
      border: 1px solid transparent;
      color: #FFFFFF;
      font: 1rem 'Arial';
      margin: 0 auto;
      padding: 0.5rem 3rem;

      &:hover {
        border: 1px solid #000000;
        cursor: pointer;
      }
    }

    .homeform {
      display: flex;
      flex-direction: column;

      .homeform-one {
        align-self: center;
        padding: 1rem 0;
        
        display: grid;
        justify-items: stretch;
        
        &__element {
          padding: 0.25rem 0;

          display: flex;
          justify-content: space-between;
          
          input {
            text-align: center;
          }
        }
      }

      .expand__button {
        margin: 0 auto;
        background-color: #27A844;
        border: 1px solid transparent;
        color: #FFFFFF;
        font: 1rem 'Arial';
        padding: 0.5rem 3rem;
        justify-content: center;

        &:hover {
          border: 1px solid #000000;
          cursor: pointer;
        }
      }

      .navigation {
        margin: 0 0 1rem;

        display: flex;

        &__button {
          background-color: #27A844;
          border: 1px solid transparent;
          color: #FFFFFF;
          font: 1rem 'Arial';
          margin: 0 auto;
          padding: 0.5rem 3rem;

          &:hover {
            border: 1px solid #000000;
            cursor: pointer;
          }
        }
      }

    }
  }
}